<app-header></app-header>

<div class="header">
  <app-backbutton></app-backbutton>
  <h1>Mis cursos</h1>
</div>

<div class="card-container">
  <app-card titulo="Taller de HTML" 
  descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec turpis ullamcorper, tincidunt eros eu, eleifend metus. 
  Nam consectetur odio non ex gravida, ut ultrices risus aliquam. Morbi cursus dui nec ullamcorper condimentum. Praesent auctor rhoncus mauris, et malesuada libero feugiat id. 
  Nulla vel ornare augue, et tristique dolor. Curabitur in ligula vel velit suscipit mollis ut tincidunt libero. Nam facilisis nisl est, vel maximus libero bibendum sit amet." 
  [enMisCursos]="true"></app-card>
  <app-card titulo="Taller de CSS" 
  descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec turpis ullamcorper, tincidunt eros eu, eleifend metus. 
  Nam consectetur odio non ex gravida, ut ultrices risus aliquam. Morbi cursus dui nec ullamcorper condimentum. Praesent auctor rhoncus mauris, et malesuada libero feugiat id. 
  Nulla vel ornare augue, et tristique dolor. Curabitur in ligula vel velit suscipit mollis ut tincidunt libero. Nam facilisis nisl est, vel maximus libero bibendum sit amet." 
  [enMisCursos]="true"></app-card>
  <app-card titulo="Taller de JS" 
  descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec turpis ullamcorper, tincidunt eros eu, eleifend metus.
   Nam consectetur odio non ex gravida, ut ultrices risus aliquam. Morbi cursus dui nec ullamcorper condimentum. Praesent auctor rhoncus mauris, et malesuada libero feugiat id. 
   Nulla vel ornare augue, et tristique dolor. Curabitur in ligula vel velit suscipit mollis ut tincidunt libero. Nam facilisis nisl est, vel maximus libero bibendum sit amet." 
   [enMisCursos]="true"></app-card>
  <app-card titulo="Metodologías CSS" 
  descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec turpis ullamcorper, tincidunt eros eu, eleifend metus. 
  Nam consectetur odio non ex gravida, ut ultrices risus aliquam. Morbi cursus dui nec ullamcorper condimentum. Praesent auctor rhoncus mauris, et malesuada libero feugiat id. 
  Nulla vel ornare augue, et tristique dolor. Curabitur in ligula vel velit suscipit mollis ut tincidunt libero. Nam facilisis nisl est, vel maximus libero bibendum sit amet." 
  [enMisCursos]="true"></app-card>
  <app-card titulo="Frameworks Frontend" descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec turpis ullamcorper, tincidunt eros eu, eleifend metus. Nam consectetur odio non ex gravida, ut ultrices risus aliquam. Morbi cursus dui nec ullamcorper condimentum. Praesent auctor rhoncus mauris, et malesuada libero feugiat id. Nulla vel ornare augue, et tristique dolor. Curabitur in ligula vel velit suscipit mollis ut tincidunt libero. Nam facilisis nisl est, vel maximus libero bibendum sit amet." [enMisCursos]="true"></app-card>
  <app-card titulo="Atomic Design" 
  descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec turpis ullamcorper, tincidunt eros eu, eleifend metus. 
  Nam consectetur odio non ex gravida, ut ultrices risus aliquam. Morbi cursus dui nec ullamcorper condimentum. Praesent auctor rhoncus mauris, et malesuada libero feugiat id. 
  Nulla vel ornare augue, et tristique dolor. Curabitur in ligula vel velit suscipit mollis ut tincidunt libero. Nam facilisis nisl est, vel maximus libero bibendum sit amet." 
  [enMisCursos]="true"></app-card>
</div>

<app-footer></app-footer>
